
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

sending vlan configurations for {{ device }}

{% for num in range(len_vlans) %}
--------------------------------------------------------------------------------------------------------------------------------
    input command...
    {{ vlans[num] }}

    output...
    {{ output_list[num][0:] }}
--------------------------------------------------------------------------------------------------------------------------------
{% endfor %}

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~